html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
    background-color: #B8C0FF;
}

main {
    background-color:#5C6080; 
    margin-block-start: 5%; 
    margin-block-end: 5%;
    border-radius: 50px; 
    }

header {
    text-align: center;  
    margin-block-end: 5%;
    padding-top: 5%;
    font-size: 20pt;
}

nav {
    text-align: center;
    font-size: 16pt;
    }
nav li {
    margin-right: 5%;
    display: inline-block;
    list-style: none;
}
nav a{
    color: #C8D3FF;
}
h2{
    font-size: 28pt;
}

.toppicture img{
    float: left;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 50%;
}
#Highlights {
    clear: left;
    text-align: center;
    padding-top: 2%;
}
.high p{
    width: 60%;
    margin: 5% auto;
    font-size: 12pt;
}
article {


}
article p{
    margin: 0 5%;
    text-align: justify;
}

footer {
    text-align: center;
    list-style: none;
}
footer img{
    border-radius: 50%;
}
.images {
    text-align: center;
}

.images img {
    border-radius: 5%;
}
p{
    color: #D1BAFF;
}
#add1{
    margin-bottom: 5%;
}
#add1 img{
    float: left;
    border-radius: 50px;
    margin-right: 3%;
    margin-left: 3%;
}
#add1 p{
    padding-top: 2.5%;
}
#add2{
    margin-bottom: 5%;
}
#add2 img{
    clear: left;
    float: left;
    border-radius: 50px;
    margin-right: 3%;
    margin-left: 3%;
}
#add2 p{
    padding-top: 2.5%;
}
#add3{
    margin-bottom: 5%;
}
#add3 p{
    padding-top: 2.5%;
}
#add3 img{
    clear: left;
    float: left;
    border-radius: 50px;
    margin-right: 3%;
    margin-left: 3%;
}
